@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fafafa;
	--color-primary-100: #f4f4f5;
	--color-primary-200: #e4e4e7;
	--color-primary-300: #d4d4d8;
	--color-primary-400: #a1a1aa;
	--color-primary-500: #71717a;
	--color-primary-600: #52525b;
	--color-primary-700: #3f3f46;
	--color-primary-800: #27272a;
	--color-primary-900: #18181b;

	--color-secondary-50: #f9fafb;
	--color-secondary-100: #f3f4f6;
	--color-secondary-200: #e5e7eb;
	--color-secondary-300: #d1d5db;
	--color-secondary-400: #9ca3af;
	--color-secondary-500: #6b7280;
	--color-secondary-600: #4b5563;
	--color-secondary-700: #374151;
	--color-secondary-800: #1f2937;
	--color-secondary-900: #111827;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

* {
	transition: all 250ms;
}

html {
	scroll-behavior: smooth;
}
